*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}
ul li{
  list-style: none;
}
.nav_part{
  background-color: #0fb9b9;
}
.gap{
  width: 80%;
  margin: auto;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  position: relative;
}
.logo{
  font-size: 28px;
}
.menu{
  display: flex;
  gap: 10px;
  /* background-color: beige; */
}
.menu li{
  padding: 5px 0;
  transition: .4s;
  /* background-color: aquamarine; */
}
.menu li a{
  padding: 8px;
  border-radius: 8px;
}
.menu li a:hover{
  background-color: red;
  
}
.toggole_icon{
  font-size: 24px;
  color: #fff;
  padding: 8px;
  cursor: pointer;
}
.close, .open{
  display: none;
}

/* ------------ For Responsiveness on small devices */
@media (max-width: 575.88px){
  .menu{
    display: none;
  }
  .open{
    display: block;
  }
  .menu{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
  }
  ul{
    padding: 0;
  }
  .menu li{
    display: flex;
    background-color: #9191eb;
    margin-bottom: 2px;
    padding: 0;
  }
  .menu li a{
    text-align: center;
    width: 100%;
    padding: 10px 0;
    border-radius: 0;
  }
  .close{
    position: absolute;
    top: 300px;
    left: 50%;
    text-align: center;
    background-color: #9494c6;
    color: #fff;
    padding: 10px 16px;
    border-radius: 50%;
    transform: translate(-50%, -20%);
    transition: .4s;
  }
  .close:hover{
    background-color: red;
  }
}